body{
	margin-left:100px;
	margin-top:50px;
	margin-right:100px;
	font-family:"Kumbh sans";
	
	
}

header{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	justify-content:space-between;
	align-content:space-between;
	margin-bottom:30px;
	border-bottom:1px solid hsl(220, 14%, 75%);
	padding-bottom:0px;
}

header div ul{
	
	display:flex;
	flex-direction:row;
    list-style:none;
	margin-left:-100px;
	padding-top:20px
	

}

header div ul li a{
	
	display:flex;
	text-decoration:none;
	padding-top:0px;
	color:hsl(220, 14%, 75%);
	font-size:19px;
	padding:9px;
	
	
}

.logo{
	padding-top:40px;
	padding-right:50px;
}

.in{
	margin-right:100px;
}

.cart{
	padding-top:50px;
	margin-right:-500px;
	
	
}

.avatar{
	padding-top:40px;
	margin-right:10px;
	
}

.nav{
	margin-left:-450px;
	padding-bottom:35px;
	
}

.section{
	display:flex;
	
}

.meenu img{
    border-radius:10px;
    margin-left:10px;
    margin-right:20px;
}

.product{
	 margin-top:60px;
	 margin-left:40px;
	
}

.product-1{
    margin-top:25px;
	margin-left:40px;

	
}

.then{
	padding:50px;
	
}

span{
	background-color:hsl(25,100%,94%);
	color:orange;
	border-radius:5px;
	padding-right:7px;
	padding-left:7px;
	
}

.sneaker{
	padding:100px;
	margin-bottom:50px;
}

h4{
	color:orange;
	padding:9px;
	margin-left:-7px;
}

h2{
	font-size:50px;
	padding-bottom:50px;
	margin-top:-10px;
}


.that{
	color:white;
	background-color:orange;
	border:0px;
	border-radius:7px;
	font-size:16px;
	font-weight:bold;
	padding-bottom:14px;
	padding-top:14px;
	padding-left:65px;
	padding-right:60px;
	margin-left:20px;
	
	
}

.the{
	padding-bottom:11px;
	padding-top:11px;
	padding-left:10px;
	padding-right:10px;
	border-radius:7px;
	border:0px;
   
	
	
	
}

p{
	padding-bottom:25px;
	margin-top:-55px;
	font-size:17px;
	padding-right:80px;
	color:hsl(220, 14%, 75%);
}

.what{
	padding:30px;
	margin-left:-35px;

}

b{
	font-size:25px;
    padding-bottom:10px;
	
}

span{
	margin-left:15px;
    padding-right:5px;
	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
	margin-bottom:30px;
}

div s{
	color: hsl(220, 14%, 75%);
	margin-top:10px;
    font-size:18px;
	font-weight:bold;

}

.akka{
      margin-top:-15px;
	  
}

.opacity{
	border:3xpx solid orange;
}

.svg{
	
	padding-right:40px;
    padding-bottom:5px;
    	
}

.plus{
	padding-left:40px;
	padding-bottom:4px;
}

.opacity{
  
    opacity: 0.4;
	border:3px solid darkorange;
	
}














